.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.navber-left img{
    width: 139px;
    height: 60px;
}

.navber-center{
    /* flex: 1; */
    text-align: center;
}

.navber-center a{
    margin: 32px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    width: 251px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border-color: #30B868;
}

.btn:hover{
    background-color: #239212e7;
}

.btn2{
    width: 198px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    background-color: transparent;
    color:rgb(254, 254, 254);
    border: 1px solid rgb(194, 189, 189);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn2:hover{
    background-color: #239212e7;
}

.banner{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding: 175px 500px;
    color: #fff;
    text-align: center;
    position: relative;
}

.banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.banner-content{
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    text-align:center;
    padding-block: 30px;
    
}

.badge{
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    color:#30B868;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;

}

.color-span{
    color: #30B868;
}

.banner .banner-content h1{
    display:block;
    margin: 0 auto;
    font-size: 72px;
    font-weight: 700;
    max-width: 770px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 16px;
}

.banner .banner-content p{ 
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}


/* note section */

#note-section{
    padding: 0 120px;
    margin: 0 auto;
}

.note-header h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
}

.note-header p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    color: #627382;
}

.note-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    margin: 120px;
}

.note-card{
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    padding: 60px 30px 30px;
    flex: 1;
    max-height: 300px;
    max-width: 322px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.note-card:hover {
  transform: translateY(-5px);
  background-color: antiquewhite;

}

.note-card h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.note-card p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.note-card img{
    display: flex;
    margin-bottom: 16px;
    margin:     auto;
    padding: 10px;
    max-width: 60px;
    max-height: 60px;
    background-color: rgb(248, 59, 7); 
    border-radius: 100%;
}