.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.navber-left img{
    width: 139px;
    height: 60px;
}

.navber-center{
    /* flex: 1; */
    text-align: center;
}

.navber-center a{
    margin: 32px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border-color: #30B868;
}

.btn:hover{
    background-color: #02e769b7;
}
