.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.navber-left img{
    width: 139px;
    height: 60px;
}

.navber-center{
    /* flex: 1; */
    text-align: center;
}

.navber-center a{
    margin: 32px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    width: 251px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border-color: #30B868;
}

.btn:hover{
    background-color: #239212e7;
}

.btn2{
    width: 198px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    background-color: transparent;
    color:rgb(254, 254, 254);
    border: 1px solid rgb(194, 189, 189);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn2:hover{
    background-color: #239212e7;
}

.banner{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding: 175px 500px;
    color: #fff;
    text-align: center;
    position: relative;
}

.banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.banner-content{
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    text-align:center;
    padding-block: 30px;
    
}

.badge{
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    color:#30B868;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;

}

.color-span{
    color: #30B868;
}

.banner .banner-content h1{
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 16px;
}

.banner .banner-content p{ 
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

